.blockevent-content
  .blockevent-item.highlight
    .event-date
      | March 6-7, 2019
    a.event-name(href='#')
      | Token2049
    .event-location
      | Hong Kong
    .event-action
      .btn.btn-sm.btn-primary
        | Register

  .blockevent-item
    .event-date
      | March 6-7, 2019
    a.event-name(href='#')
      | Money20/20 Asia
    .event-location
      | Singapore
    .event-action

  .blockevent-item
    .event-date
      | March 6-7, 2019
    a.event-name(href='#')
      | Blockchain Innovation & Investment Summit 2019
    .event-location
      | Dubai
    .event-action