.blockevent-content
  .blockevent-title
    | March 2019
  .blockevent-item.highlight
    .event-date
      | March 6-7, 2019
    .event-name
      a(href='#')
        | Token2049
    .event-location
      | Hong Kong
    .event-action
      a.btn.btn-sm.btn-primary(href="#")
        | Register

  .blockevent-item
    .event-date
      | March 6-7, 2019
    .event-name
      a(href='#')
        | Money20/20 Asia
    .event-location
      | Singapore
    .event-action

  .blockevent-item
    .event-date
      | March 6-7, 2019
    .event-name
      a(href='#')
        | Blockchain Innovation & Investment Summit 2019
    .event-location
      | The Hague, Netherlands
    .event-action