.blockevent-content
  .blockevent-title#faq
    | BlockEvent FAQ
  .blockevent-faq
    .faq-title
      h3 Add all Blockchain events list to your calendar
    .faq-content
      p All Blockchain events and industry conferences on BlockEvent is available in iCalendar format (.ics). You can subscribe the calendar in any compatible web calendar or clients and it keeps your calendar in sync.
      p
        .label.label-secondary https://blockevent.co/ical/blockchain.ics
      p Copy the url above and go to your calendar:
      

  
