.blockevent-content
  .blockevent-title#faq
    | BlockEvent FAQ
  .blockevent-faq
    .faq-title#faq-add-icalendar
      h3 Add Blockchain events list to your calendar
    .faq-content
      p All Blockchain events and industry conferences on BlockEvent.co is available in iCalendar (.ics) format. You can subscribe the calendar in any compatible web calendar or apps and it keeps your calendar in sync.
      p
        .label.label-secondary https://blockevent.co/ical/blockevent.ics
      p Copy the url above and go to your calendar:
      p
        strong Google Calendar
        | : Find "Add calendar" on the left sidebar and click on the "dots", click "From URL". Then paste the URL into input box and click "Add calendar".
      p
        strong Apple Calendar (macOS App)
        | : Click "New Calendar Subscription" under "File" menu. Then paste the URL into input box and click "Subscribe".
      p
        strong Outlook.com Calendar
        | : Click "Discover calendars" on the left sidebar and find "Import calendar", click "From Web". Then paste the URL into input box, type the name "Blockchain Conferences & Events" and click "Import".