.blockevent-content
  .blockevent-title#faq
    | BlockEvent FAQ
  .blockevent-faq
    .faq-title#faq-add-icalendar
      h3 Add Blockchain events list to your calendar
    .faq-content
      p All Blockchain events and industry conferences on BlockEvent.co is available in iCalendar (.ics) format. You can subscribe the calendar in any compatible web calendar or apps and it keeps your calendar in sync.
      p
        .label.label-secondary https://blockevent.co/ical/blockevent.ics
      p Copy the url above and go to your calendar:
      p
        strong Google Calendar
        | : Find "Add calendar" on the left sidebar and click on the "dots", click "From URL". Then paste the URL into input box and click "Add calendar".
      p
        strong Apple Calendar (macOS App)
        | : Click "New Calendar Subscription" under "File" menu. Then paste the URL into input box and click "Subscribe".
      p
        strong Outlook.com Calendar
        | : Click "Discover calendars" on the left sidebar and find "Import calendar", click "From Web". Then paste the URL into input box, type the name "Blockchain Conferences & Events" and click "Import".
    
    .faq-title#faq-add-event
      h3 Add your Blockchain event to the list
    .faq-content
      p It is free to have your Blockchain event listed on BlockEvent.co. Please fill in this form to submit your event.
      p
        a.btn.btn-primary(href='https://airtable.com/shr6r8tusjE9ZBmqf' target='_blank') Add Your Event
    
    .faq-title#faq-sponsor
      h3 Sponsor & Support
    .faq-content
      p If you enjoy BlockEvent.co, please consider supporting for the further maintainance. ♥
      p
        a(href="https://www.producthunt.com/posts/blockevent?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-blockevent" target="_blank")
          img(src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=149108&theme=light" alt="BlockEvent - Blockchain, Bitcoin, Cryptocurrency Conferences and Events | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px")
      p
        strong BTC
        .label.label-secondary 3HWFYvciasx9qp4ksdBedg6UF4kVLcP2mW
      p
        strong ETH
        .label.label-secondary 0xAe352A5997907e21FC78D0e2f1e2F62e270d37dc