.blockevent-sidebar
  .blockevent-sponsors
    .blockevent-title
      | Sponsors
    .sponsor-item
      a(href="mailto:hello@blockevent.co?subject=Advertising on BlockEvent.co")
        | Advertising Here
  .blockevent-ad.text-center
    include ../_layout/_ad-c.pug