.blockevent-sidebar
  .blockevent-sponsors
    .blockevent-title
      | Sponsors
    .sponsor-item
      a(href="mailto:hello@blockevent.co?subject=Advertising on BlockEvent.co")
        | Advertising Here
  .blockevent-ad.hide-md.text-center
    script(async='', src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    ins.adsbygoogle.mx-auto(style='display:inline-block;width:160px;height:600px', data-ad-client='ca-pub-2225124559530218', data-ad-slot='2173025905')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});