// Core variables and mixins
@import "variables";
@import "mixins";

.section-header {
  .navbar-brand {
    a {
      color: $dark-color;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.8rem;

      text-transform: uppercase;
    }

    span {
      font-weight: 400;
    }
  }

  .navbar {
    border-bottom: .15rem double $border-color;
    padding: $unit-4 0;
  }
}

.section-main {
  padding: $unit-4 0;
}

.blockevent-content {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .blockevent-title {
    font-weight: 700;
    padding: .5rem 0;
  }

  .blockevent-item {
    align-items: center;
    background: $bg-color;
    display: flex;
    font-size: .7rem;
    padding: .8rem;
    position: relative;

    &:not(:last-child) {
      margin-bottom: .1rem;
    }

    &:hover {
      background: darken($bg-color, 1%);
    }

    &.highlight {
      background: $secondary-color;

      &:hover {
        background: darken($secondary-color, 1%);
      }

      .event-name {
        a {
          color: $primary-color;
        }
      }
    }

    .event-date {
      color: lighten($dark-color, 10%);
      flex: 1 0 20%;
      padding: 0 .5rem 0 0;
      width: 20%;
    }

    .event-name {
      flex: 1 1 50%;
      font-weight: 700;
      padding: 0 .5rem;
      width: 50%;

      a {
        color: $dark-color;
      }
    }

    .event-location {
      color: lighten($dark-color, 10%);
      flex: 1 0 25%;
      padding: 0 .5rem;
      width: 25%;
    }

    .event-action {
      flex: 1 0 auto;
      text-align: right;
      width: 3.5rem;

      .btn-sm {
        width: 3.5rem;
      }
    }
  }
}

.section-footer {
  padding: $unit-4 0;
}

// Xbox

.section-games {
  margin-bottom: 1rem;
  margin-top: 1rem;

  .column {
    padding-bottom: .4rem;
    padding-top: .4rem;
  }
  .card {
    border: .1rem solid transparent;
    height: 100%;
    text-decoration: none;
    transform: all .25s ease;

    &:hover {
      animation: reveal-focus 1s 1;
      background: #F1F1F1;
      border-color: #202020;
      box-shadow: 0 .1rem 1.2rem rgba($dark-color, .15);
    }

    &.card-empty {
      align-items: center;
      background: #F1F1F1;
      display: flex;
      justify-content: center;
    }

    .card-header {
      padding: .4rem;
      padding-bottom: 0;
    }

    .card-body {
      padding: .4rem;
      padding-bottom: 0;
    }

    .card-footer {
      padding: .4rem;
    }
  }

  .game-card-cover {
    box-shadow: 0 .1rem 1.5rem rgba($dark-color, .15);
    width: 100%;
  }

  .game-card-discount {
    background: #FFD800;
    color: #202020;
    display: inline-block;
    font-size: .6rem;
    line-height: 1;
    padding: .1rem .2rem;
    text-transform: uppercase;
  }

  .game-card-title {
    color: #202020;
    font-size: .8rem;
    font-weight: 700;
    line-height: .85rem;
    margin-top: .2rem;
  }

  .game-card-newprice {
    color: $primary-color;
    display: inline;
    font-size: 1rem;
    font-weight: 700;

    &:not(:empty)::before {
      content: "$";
    }
  }

  .game-card-oriprice {
    color: #202020;
    display: inline;
    font-size: .7rem;
    text-decoration: line-through;

    &:not(:empty)::before {
      content: "$";
    }
  }
}

.section-ads {
  margin: 5rem auto 1rem auto;
}

.section-embed-footer {
  background: $primary-color;
  bottom: 0;
  box-shadow: 0 -.1rem 1rem rgba($dark-color, .1);
  color: rgba($light-color, .5);
  font-size: .6rem;
  height: 1.2rem;
  line-height: 1.2rem;
  padding-right: .8rem;
  position: fixed;
  text-align: right;
  width: 100%;

  a {
    color: rgba($light-color, .75);
    text-decoration: underline;
  }
}

// Animations
@keyframes reveal-focus {
  0% {
    box-shadow: 0 0 0 rgba($dark-color, .15);
  }
  25% {
    box-shadow: 0 .1rem 2.5rem rgba($dark-color, .25);
  }
  100% {
    box-shadow: 0 .1rem 1.5rem rgba($dark-color, .15);
  }
}