// Core variables and mixins
@import "variables";
@import "mixins";

.section-header {
  .navbar-brand {
    a {
      color: $dark-color;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 2.2rem;
      margin-right: 2rem;
      text-transform: uppercase;
    }

    span {
      font-weight: 400;
    }
  }

  .navbar {
    border-bottom: .15rem double $border-color;
    padding: $unit-4 0;

    .btn {
      font-weight: 700;
      text-transform: uppercase;
    }

    .navbar-section {
      @media screen and (max-width: $size-sm) {
        justify-content: flex-start !important;
      }
    }
  }

  .navbar-section {
    padding: .4rem 0;
  }
}

.section-main {
  padding: $unit-4 0;

  @media screen and (max-width: $size-md) {
    .content-container {
      order: 2;
    }
    .sidebar-container {
      order: 1;
    }
  }

  .sidebar-container {
    min-width: 10rem;
  }
}

.blockevent-content {
  display: flex;
  flex-direction: column;

  .blockevent-title {
    font-size: .6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: .5rem 0;
    text-transform: uppercase;
  }

  .blockevent-list {
    .blockevent-item {
      display: none;
    }
  }

  .blockevent-item {
    align-items: center;
    background: $bg-color;
    display: flex;
    font-size: .7rem;
    padding: .8rem;
    position: relative;

    &:not(:last-child) {
      margin-bottom: .1rem;
    }

    &:hover {
      background: darken($bg-color, 1%);
    }

    &.highlight {
      background: $secondary-color;

      &:hover {
        background: darken($secondary-color, 1%);
      }

      .event-name {
        a {
          color: $primary-color;
        }
      }
    }

    .event-date {
      color: lighten($dark-color, 20%);
      flex: 1 0 20%;
      padding: 0 .5rem 0 0;
      width: 20%;
    }

    .event-name {
      flex: 1 1 50%;
      font-weight: 700;
      padding: 0 .5rem;
      width: 50%;

      a {
        color: $dark-color;
      }
    }

    .event-location {
      color: lighten($dark-color, 20%);
      flex: 1 0 25%;
      padding: 0 .5rem;
      width: 25%;
    }

    .event-action {
      flex: 1 0 auto;
      text-align: right;
      width: 4rem;

      .btn-sm {
        font-weight: 700;
        text-transform: uppercase;
        width: 4rem;
      }
    }

    @media screen and (max-width: $size-sm) {
      display: block;

      .event-date,
      .event-name,
      .event-location,
      .event-action {
        padding: 0;
        width: 100%;
      }

      .event-name {
        font-size: 1rem;
        margin: .2rem 0;
      }
    }
  }
}

.blockevent-sidebar {
  @media screen and (min-width: $size-md) {
    height: 100%;
  }

  .blockevent-title {
    color: $gray-color-dark;
    font-size: .6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: .5rem 0;
    text-transform: uppercase;
  }

  .blockevent-sponsors {
    background: $light-color;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
  }

  .sponsor-item {
    align-items: center;
    background: $bg-color;
    display: flex;
    height: 4rem;
    justify-content: center;
    width: 100%;

    a {
      color: $gray-color-dark;
    }
  }
}

.section-footer {
  padding: $unit-4 0;
}