block ad-carbon
  script(src='https://m.servedby-buysellads.com/monetization.js')
  #native-grid-js
  script.
    _bsa.init('custom', 'CK7I453W', 'placement:blockeventco',
      {
        target: '#native-grid-js',
        template: `
          <a class="native-grid" href="##link##">
            <div class="native-img" style="background-color: ##backgroundColor##">
              <img src="##logo##">
            </div>
            <div style="background-color: ##ctaBackgroundColor##; color: ##ctaTextColor##" class="native-cta">##callToAction##</div>
            <div class="native-desc">##description##</div>
            <div class="native-sponsor">Sponsored by <strong>##company##</strong></div>
          </a>
        `
      }
    );