p
  | &copy; 2019 
  a(href="https://blockevent.co" target="_blank")
    strong BlockEvent.co 
  | · 
  a(href="https://twitter.com/blockeventco" target="_blank")
    strong @blockeventco

  | . Designed and built with 
  a(href="https://picturepan2.github.io/spectre/?utm_source=blockevent.co" target="_blank")
    strong Spectre.css
  span.text-error  &hearts;
  | . Data provided by 
  a(href="https://www.block123.com/?utm_source=blockevent.co" target="_blank")
    strong Block123
  | .