.navbar
  .navbar-brand
    a(href=domain)
      | Block
      span Event
  .navbar-section
    a.btn.btn-primary.btn-sm.mr-2(href='#faq-add-icalendar') Add to Calendar
    a.btn.btn-sm(href='https://airtable.com/shr6r8tusjE9ZBmqf' target='_blank') Add Your Event