.navbar
  .navbar-brand
    a(href=domain)
      | Block
      span Event
  .navbar-section
    a.btn.btn-primary.btn-sm.mr-2(href="mailto:hello@blockevent.co?subject=Add your Blockchain event on BlockEvent.co") Add to Calendar
    a.btn.btn-sm(href="mailto:hello@blockevent.co?subject=Add your Blockchain event on BlockEvent.co") Add Your Event