block global
  - var domain = 'https://blockevent.co'
  - var url = domain

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'BlockEvent - Blockchain, Bitcoin, Cryptocurrency Conferences and Events'
  - var description = 'Upcoming Blockchain, Bitcoin, Cryptocurrency, Fintech, Payment conferences and events.'

if parent = 'index'
  if slug == 'index'
    - var url = domain 
  else
    - var url = domain + '/' + slug + '.html'
else 
  - var url = domain + parent + '/' + slug + '.html'

doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='robots' content='index, follow')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='description' content= description)
    meta(name='author' content='Yan Zhu')
    meta(property='og:url' content= url)
    meta(property='og:title' content= title)
    meta(property='og:description' content= description)
    meta(property='og:image' content= domain + '/assets/img/blockevent-logo.png')
    link(rel='stylesheet' href='assets/css/blockevent.min.css')
    link(rel='shortcut icon' href='favicon.ico')
    link(rel='icon' href='assets/img/favicon.png')
    link(rel='canonical' href= url)
    script(src='assets/js/zepto.min.js')
    script.
      Zepto(function($){
        var today = new Date(),
            year = '' + today.getFullYear(),
            month = '' + (today.getMonth() + 1),
            date = '' + today.getDate();
        if (month.length < 2) month = '0' + month;
        if (date.length < 2) date = '0' + date;
        today = year + month + date;
        console.log(today);

        $('.blockevent-item').each(function(index){
          if ($(this).attr('data-end') >= today) {
            $(this).addClass('upcoming')
          }
        })
      })

  body
    block content

    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-2702768-15")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-2702768-15');


  