extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'BlockEvent - Blockchain Conferences and Events'
  - var description = 'Blockchain Conferences and Events.'

block content
  header.section-header
    .container.grid-xl
      include _layout/_header.pug
  
  .section-main
    .container.grid-xl
      .columns
        .content-container.column.col-md-12       
          include _content/_content.pug
        .sidebar-container.column.col-2.col-md-12
          include _content/_sidebar.pug
  
  .section-faq
    .container.grid-xl
      .columns
        .column.col-12
          include _content/_faq.pug

  footer.section-footer
    .container.grid-xl
      include _layout/_footer.pug