.section-header .navbar-brand a {
  color: #202020;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.2rem;
  margin-right: 2rem;
  text-transform: uppercase;
}

.section-header .navbar-brand span {
  font-weight: 400;
}

.section-header .navbar {
  border-bottom: .15rem double #ececec;
  padding: .8rem 0;
}

.section-header .navbar .btn {
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .section-header .navbar .navbar-section {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
}

.section-header .navbar-section {
  padding: .4rem 0;
}

.section-main {
  padding: .8rem 0;
}

@media screen and (max-width: 840px) {
  .section-main .content-container {
    -ms-flex-order: 2;
    order: 2;
  }
  .section-main .sidebar-container {
    -ms-flex-order: 1;
    order: 1;
  }
}

.section-main .sidebar-container {
  min-width: 9.8rem;
}

.blockevent-content {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.blockevent-content .blockevent-title {
  font-size: .6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: .5rem 0;
  text-transform: uppercase;
}

.blockevent-content .blockevent-item {
  display: none;
}

.blockevent-content .blockevent-item.upcoming {
  align-items: center;
  background: #f9f9f9;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  font-size: .7rem;
  padding: .8rem;
  position: relative;
}

.blockevent-content .blockevent-item.upcoming:not(:last-child) {
  margin-bottom: .1rem;
}

.blockevent-content .blockevent-item.upcoming:hover {
  background: #f6f6f6;
}

.blockevent-content .blockevent-item.upcoming.highlight {
  background: #f1eefc;
}

.blockevent-content .blockevent-item.upcoming.highlight:hover {
  background: #edeafb;
}

.blockevent-content .blockevent-item.upcoming.highlight .event-name a {
  color: #4b34dd;
}

.blockevent-content .blockevent-item.upcoming .event-date {
  color: #535353;
  -ms-flex: 1 0 20%;
  flex: 1 0 20%;
  padding: 0 .5rem 0 0;
  width: 20%;
}

.blockevent-content .blockevent-item.upcoming .event-name {
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  font-weight: 700;
  padding: 0 .5rem;
  width: 50%;
}

.blockevent-content .blockevent-item.upcoming .event-name a {
  color: #202020;
}

.blockevent-content .blockevent-item.upcoming .event-location {
  color: #535353;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  padding: 0 .5rem;
  width: 25%;
}

.blockevent-content .blockevent-item.upcoming .event-action {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-align: right;
  width: 4rem;
}

.blockevent-content .blockevent-item.upcoming .event-action .btn-sm {
  font-weight: 700;
  text-transform: uppercase;
  width: 4rem;
}

@media screen and (max-width: 600px) {
  .blockevent-content .blockevent-item.upcoming {
    display: block;
  }
  .blockevent-content .blockevent-item.upcoming .event-date,
  .blockevent-content .blockevent-item.upcoming .event-name,
  .blockevent-content .blockevent-item.upcoming .event-location,
  .blockevent-content .blockevent-item.upcoming .event-action {
    padding: 0;
    width: 100%;
  }
  .blockevent-content .blockevent-item.upcoming .event-name {
    font-size: 1rem;
    margin: .2rem 0;
  }
}

@media screen and (min-width: 840px) {
  .blockevent-sidebar {
    height: 100%;
  }
}

.blockevent-sidebar .blockevent-title {
  color: #b9b9b9;
  font-size: .6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: .5rem .4rem;
  text-transform: uppercase;
}

.blockevent-sidebar .blockevent-sponsors {
  background: #fff;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1rem;
}

.blockevent-sidebar .sponsor-item {
  align-items: center;
  background: #f9f9f9;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  height: 4rem;
  justify-content: center;
  margin: 0 auto;
  width: 9rem;
}

.blockevent-sidebar .sponsor-item a {
  color: #b9b9b9;
}

.section-footer {
  padding: .8rem 0;
}

#carbonads {
  --font-size: 14px; 
  --width: 180px;
}

#carbonads {
  background-color: #f9f9f9;
  display: block;
  font-size: var(--font-size);
  line-height: 1.5;
  margin: 1rem auto;
  max-width: var(--width);
  overflow: hidden;
  padding: .5rem;
  text-align: center;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  display: block;
  overflow: hidden;
  position: relative;
}

.carbon-img {
  display: block;
  line-height: 1; 
  margin-bottom: 8px;
  max-width: var(--width);
}

.carbon-img img {
  display: block;
  height: auto; 
  margin: 0 auto;
  max-width: var(--width) !important;
  width: var(--width);
}

.carbon-text {
  display: block;
  padding: 0 1em 8px;
}

.carbon-poweredby {
  background: #f9f9f9;
  display: block;
  font-size: 9px;
  font-weight: 600;
  letter-spacing: .5px;
  padding: 10px var(--font-size);
  text-transform: uppercase;
}

@media only screen and (min-width: 320px) and (max-width: 840px) {
  #carbonads {
    float: none;
    max-width: 18rem;
  }
  #carbonads span {
    position: relative;
  }
  #carbonads > span {
    max-width: none;
  }
  .carbon-img {
    float: left;
    margin: 0;
  }
  .carbon-img img {
    max-width: 130px !important;
  }
  .carbon-text {
    float: left;
    margin-bottom: 0;
    max-width: calc(100% - 130px - 3em);
    padding: 8px 20px;
    text-align: left;
  }
  .carbon-poweredby {
    bottom: 0;
    display: block;
    left: 130px;
    width: 100%;
  }
}