.section-header .navbar-brand a {
  color: #202020;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.8rem;
  text-transform: uppercase;
}

.section-header .navbar-brand span {
  font-weight: 400;
}

.section-header .navbar {
  border-bottom: .15rem double #ececec;
  padding: .8rem 0;
}

.section-header .navbar .btn {
  font-weight: 700;
  text-transform: uppercase;
}

.section-main {
  padding: .8rem 0;
}

@media screen and (max-width: 840px) {
  .section-main .content-container {
    -ms-flex-order: 2;
    order: 2;
  }
  .section-main .sidebar-container {
    -ms-flex-order: 1;
    order: 1;
  }
}

.section-main .sidebar-container {
  min-width: 10rem;
}

.blockevent-content {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
}

.blockevent-content .blockevent-title {
  font-size: .6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: .5rem 0;
  text-transform: uppercase;
}

.blockevent-content .blockevent-item {
  align-items: center;
  background: #f9f9f9;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  font-size: .7rem;
  padding: .8rem;
  position: relative;
}

.blockevent-content .blockevent-item:not(:last-child) {
  margin-bottom: .1rem;
}

.blockevent-content .blockevent-item:hover {
  background: #f6f6f6;
}

.blockevent-content .blockevent-item.highlight {
  background: #f1eefc;
}

.blockevent-content .blockevent-item.highlight:hover {
  background: #edeafb;
}

.blockevent-content .blockevent-item.highlight .event-name a {
  color: #4b34dd;
}

.blockevent-content .blockevent-item .event-date {
  color: #535353;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  padding: 0 .5rem 0 0;
  width: 25%;
}

.blockevent-content .blockevent-item .event-name {
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  font-weight: 700;
  padding: 0 .5rem;
  width: 50%;
}

.blockevent-content .blockevent-item .event-name a {
  color: #202020;
}

.blockevent-content .blockevent-item .event-location {
  color: #535353;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  padding: 0 .5rem;
  width: 25%;
}

.blockevent-content .blockevent-item .event-action {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-align: right;
  width: 4rem;
}

.blockevent-content .blockevent-item .event-action .btn-sm {
  font-weight: 700;
  text-transform: uppercase;
  width: 4rem;
}

@media screen and (max-width: 600px) {
  .blockevent-content .blockevent-item {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .blockevent-content .blockevent-item .event-date,
  .blockevent-content .blockevent-item .event-name,
  .blockevent-content .blockevent-item .event-location,
  .blockevent-content .blockevent-item .event-action {
    padding: 0;
    width: 100%;
  }
  .blockevent-content .blockevent-item .event-name {
    font-size: 1rem;
    margin: .2rem 0;
  }
}

.blockevent-sidebar {
  height: 100%;
}

.blockevent-sidebar .blockevent-title {
  color: #b9b9b9;
  font-size: .6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: .5rem 0;
  text-transform: uppercase;
}

.blockevent-sidebar .blockevent-sponsors {
  background: #fff;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.blockevent-sidebar .sponsor-item {
  align-items: center;
  background: #f9f9f9;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  height: 4rem;
  justify-content: center;
  width: 100%;
}

.blockevent-sidebar .sponsor-item a {
  color: #b9b9b9;
}

.section-footer {
  padding: .8rem 0;
}